.sfh__thumb--stream,
.sfh__thumb--video {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 2px 6px;
  font-size: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #6441a5;
  color: white;
}

.sfh__thumb--video {
  top: auto;
  right: auto;
  bottom: 25px;
  left: 3px;
}

.streams .stream .content .thumb:hover .sfh__thumb--stream,
.videos .video .content .thumb:hover .sfh__thumb--video {
  display: block;
}

.sfh__thumb--stream:hover,
.sfh__thumb--video:hover {
  text-decoration: none;
  background: #7550ba;
  color: white;
}
