.sfh__youtube__share-in-thumbnail {
	display: none !important;
	position: absolute;
	top: 2px;
	right: 2px;
}

.yt-lockup-thumbnail:hover .sfh__youtube__share-in-thumbnail {
	display: block !important;
}
